In [2]:
# Dependencies
import pandas as pd

In [3]:
#take data and read into pandas
cities = "Resources/cities.csv"
data = "Resources/data.csv"

cities_df = pd.read_csv(cities)
data_df = pd.read_csv(data)

In [4]:
#display cities_df
cities_df.head()

,id,city,state,population,latitude,longitude,gestation_8_duration,gestation_8_duration_closed,gestation_12_duration,gestation_12_duration_closed,gestation_16_duration,gestation_16_duration_closed,gestation_20_duration,gestation_20_duration_closed
0,new-york-new-york,New York,New York,8550405,40.712784,-74.005941,0,0,0,0,0,0,0,0
1,los-angeles-california,Los Angeles,California,3971883,34.052234,-118.243685,0,0,0,0,0,0,0,0
2,chicago-illinois,Chicago,Illinois,2720546,41.878114,-87.629798,0,0,0,0,0,0,0,0
3,houston-texas,Houston,Texas,2296224,29.760427,-95.369803,0,0,0,0,0,0,0,4
4,philadelphia-pennsylvania,Philadelphia,Pennsylvania,1567442,39.952584,-75.165222,0,0,0,0,0,0,0,0

In [5]:
#drop ID column
cities_cleaned_df = cities_df.drop(columns=['id'])
cities_cleaned_df.head()

,city,state,population,latitude,longitude,gestation_8_duration,gestation_8_duration_closed,gestation_12_duration,gestation_12_duration_closed,gestation_16_duration,gestation_16_duration_closed,gestation_20_duration,gestation_20_duration_closed
0,New York,New York,8550405,40.712784,-74.005941,0,0,0,0,0,0,0,0
1,Los Angeles,California,3971883,34.052234,-118.243685,0,0,0,0,0,0,0,0
2,Chicago,Illinois,2720546,41.878114,-87.629798,0,0,0,0,0,0,0,0
3,Houston,Texas,2296224,29.760427,-95.369803,0,0,0,0,0,0,0,4
4,Philadelphia,Pennsylvania,1567442,39.952584,-75.165222,0,0,0,0,0,0,0,0

In [6]:
#display data_df
data_df.head()

,U.S. State,"% change in abortion rate (the no. of abortions per 1,000 women aged 15-44), by state of occurrence, 2011-2014","% change in the no. of clinics, 2011-2014","% of all U.S. abortions, by state of occurrence, 2014","% of counties without a known clinic, 2014 [2]","% of women aged 15-44 living in a county without a clinic, 2014 [4]","Abortion rate (the no. of abortions per 1,000 women aged 15-44), by state of occurrence, 2014","Abortion rate (the no. of abortions per 1,000 women aged 15-44), by state of residence, 2014 [1]","Change in the no. of clinics, 2011-2014","No. of abortions, by state of occurrence, 2014 [3]","No. of abortions, by state of residence, 2014 [5]","No. of clinics, 2014"
0,Alabama,-16,-17,0.9,93,59,8.3,9,-1,"8,020","8,310",5
1,Alaska,-20,-25,0.2,90,37,10,11,-1,"1,470","1,640",3
2,Arizona,-22,-40,1.4,80,19,9.8,10,-6,"12,870","13,240",9
3,Arkansas,4,0,0.5,97,77,8,8,0,"4,590","4,350",3
4,California,-15,-5,17,43,5,19.5,19,-8,"157,350","154,660",152

In [7]:
#renamed column in data_df
renamed_data_df = data_df.rename(columns={"U.S. State":"state"})
renamed_data_df.head()

,state,"% change in abortion rate (the no. of abortions per 1,000 women aged 15-44), by state of occurrence, 2011-2014","% change in the no. of clinics, 2011-2014","% of all U.S. abortions, by state of occurrence, 2014","% of counties without a known clinic, 2014 [2]","% of women aged 15-44 living in a county without a clinic, 2014 [4]","Abortion rate (the no. of abortions per 1,000 women aged 15-44), by state of occurrence, 2014","Abortion rate (the no. of abortions per 1,000 women aged 15-44), by state of residence, 2014 [1]","Change in the no. of clinics, 2011-2014","No. of abortions, by state of occurrence, 2014 [3]","No. of abortions, by state of residence, 2014 [5]","No. of clinics, 2014"
0,Alabama,-16,-17,0.9,93,59,8.3,9,-1,"8,020","8,310",5
1,Alaska,-20,-25,0.2,90,37,10,11,-1,"1,470","1,640",3
2,Arizona,-22,-40,1.4,80,19,9.8,10,-6,"12,870","13,240",9
3,Arkansas,4,0,0.5,97,77,8,8,0,"4,590","4,350",3
4,California,-15,-5,17,43,5,19.5,19,-8,"157,350","154,660",152

In [8]:
#merge on state
merged_data = pd.merge(cities_cleaned_df, renamed_data_df, on="state")
merged_data.head()

,city,state,population,latitude,longitude,gestation_8_duration,gestation_8_duration_closed,gestation_12_duration,gestation_12_duration_closed,gestation_16_duration,...,"% change in the no. of clinics, 2011-2014","% of all U.S. abortions, by state of occurrence, 2014","% of counties without a known clinic, 2014 [2]","% of women aged 15-44 living in a county without a clinic, 2014 [4]","Abortion rate (the no. of abortions per 1,000 women aged 15-44), by state of occurrence, 2014","Abortion rate (the no. of abortions per 1,000 women aged 15-44), by state of residence, 2014 [1]","Change in the no. of clinics, 2011-2014","No. of abortions, by state of occurrence, 2014 [3]","No. of abortions, by state of residence, 2014 [5]","No. of clinics, 2014"
0,New York,New York,8550405,40.712784,-74.005941,0,0,0,0,0,...,1,12.9,44,10,29.6,29,1,"119,940","117,580",95
1,Buffalo,New York,258071,42.886447,-78.878369,0,0,0,0,0,...,1,12.9,44,10,29.6,29,1,"119,940","117,580",95
2,Rochester,New York,209802,43.161030,-77.610922,0,0,0,2,2,...,1,12.9,44,10,29.6,29,1,"119,940","117,580",95
3,Yonkers,New York,201116,40.931210,-73.898747,0,0,0,0,0,...,1,12.9,44,10,29.6,29,1,"119,940","117,580",95
4,Syracuse,New York,144142,43.048122,-76.147424,0,1,0,1,3,...,1,12.9,44,10,29.6,29,1,"119,940","117,580",95

In [9]:
merged_data.to_csv("merged_data.csv", index=False, header=True)